<link rel="import" href="../bower_components/polymer/polymer.html">

<script src="../bower_components/XB-PointStream/psapi.js"></script>
<script src="../bower_components/XB-PointStream/libs/orbitcam.js"></script>
<script src="../bower_components/XB-PointStream/libs/mjs.js"></script>
<script src="../bower_components/XB-PointStream/parsers/asc.js"></script>
<script src="../bower_components/XB-PointStream/parsers/psi.js"></script>
<script src="../bower_components/XB-PointStream/parsers/pts.js"></script>
<script src="../bower_components/XB-PointStream/parsers/ply.js"></script>
<script src="../src/globe.js"></script>

<dom-module id="vis-panel">

  <template>
    <style>
    </style>

    <!-- local DOM for your element -->

    <canvas id="canvas" width="400" height="400"></canvas>
  </template>

  <script>
    Polymer({
		is: "vis-panel",
		/*listeners: {
			'canvas.track': 'handleTrack'
		},*/
		properties: {
			// declare properties for the element's public API
			asc: {
				type: Object,
				value: [],
				notify: true
			},
			mt: {
				type: Object,
				value: {
					dx:0,
					dy:0,
					down: false
				}
			},
		},
		ready: function() {
			startRender(this.$.canvas);

		},
		handleTrack: function(e) {
			switch(e.detail.state) {
			case 'start':
				this.message = 'Tracking started!';
				break;
			case 'track':
				this.message = 'Tracking in progress... ' +
				e.detail.x + ', ' + e.detail.y;
				break;
			case 'end':
				this.message = 'Tracking ended!';
				break;
			}
		}

	});
  </script>

 </dom-module>
